/* Admin products page */
.products-img img{
  width: 100px !important;
}
/*
[type="file"]{
  .file-upload{
      display: inline-block !important;
      width: initial !important;
  }
}
*/
[type="file"]{
  display: inline-block !important;
  width: initial !important;
}
.file-upload{
  display: inline-block !important;
  width: initial !important;
}