<div class="col s8">
  <ul class="collection">
    <div class="card-panel primary-color">
        <p><i class="material-icons">group</i>Mypage</p>
    </div>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Cart</span>

      <a href="/cart" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">History</span>
      <a href="/mypage/history" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
    <!--
    <li class="collection-item avatar">
    <i class="material-icons circle red">Change</i>
    <span class="title">Title</span>
    <a href="/users/edit" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
    -->
  </ul>
</div>